# Database
DATABASE_NAME="dev.db"
DATABASE_URL="file:./prisma/${DATABASE_NAME}"
DATABASE_URL_PRISMA="file:./${DATABASE_NAME}"
# App Configuration
PUBLIC_APP_URL="http://localhost:5173"
PUBLIC_APP_NAME="KKApply"
# Cloudflare Turnstile (Captcha)
PUBLIC_CAPTCHA_SITE_KEY="1x00000000000000000000BB"
CAPTCHA_SECRET_KEY="1x0000000000000000000000000000000AA"
# Resend API Key
RESEND_API_KEY="re_..."
